/* Body Html Common Elements */

html {
  scroll-behavior: smooth;
}

body {
  background: url("https://png.pngtree.com/thumb_back/fh260/back_pic/03/80/06/3757c30a762387b.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover, contain;
  height: 100%;
  position: relative;
}


h1, h2, h3, h4, h5, h6 {
  text-align: center;
  color: #d8e3e7;
  font-size: 0.9rem;
  font-family: inherit;
}

.main-container {
  padding: 0 0 100px;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  display: block;
  /* padding-bottom: 100px; */
}

/* NavBar Animation  */
.navbar-nav {
  padding: 0;
  list-style-type: none;
}

.navbar-toggler {
  border-color: green !important;
  outline-color: green !important;
}

.nav-item {
  font-size: 0.7em;
  font-weight: 600;
  width: 7.5em;
  height: 1.5em;
  color: #228B22;
  border-left: 0.08em solid;
  position: relative;
  margin-top: 0.8em;
  cursor: pointer;
  padding-right: 12px;
}

.nav-item::before,
.nav-item::after {
  content: '';
  position: absolute;
  width: inherit;
  border-left: inherit;
  z-index: -1;
}

.nav-item::before {
  height: 80%;
  top: 10%;
  left: calc(-0.15em - 0.08em * 2);
  filter: brightness(0.8);
}

.nav-item::after {
  height: 60%;
  top: 20%;
  left: calc(-0.15em * 2 - 0.08em * 3);
  filter: brightness(0.6);
}

.nav-item span {
  position: relative;
  height: 120%;
  top: -10%;
  box-sizing: border-box;
  border: 0.08em solid;
  border-radius: 10px;
  background-color: #3C3333;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  text-transform: capitalize;
  transform: translateX(calc(-0.15em * 3 - 0.08em * 2));
  transition: 0.3s;
}

.nav-item:hover span {
  transform: translateX(0.15em);
}

.container-fluid {
  padding: 2% 5% 2% 12%;
  position: relative;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}

.navbar-brand {
  font-family: "Montserrat-Bold";
  text-align: center;
  font-size: 1.5rem;
  color: white;
}

.z-logo {
  width: 130%;
  height: 20%;
}

/* Home Page */
.row {
  padding: 3% 11%;
}

.zouheir-img {
  margin: 100px 0 0 150px;
  width: 60%;
}

.drums-resume-buttons {
  padding-bottom: 15%;
}

.welcome-page {
  background: url("images/Zouheir.Circle.png") no-repeat 1000px 350px fixed;
  -webkit-background-size: 300px 300px;
  -moz-background-size: 300px 300px;
  -o-background-size: 300px 300px;
  background-size: 300px 300px;
  padding: 0% 1%;
}

/* Play Drums Home Page Buttons */
.play-drums-button {
  background: linear-gradient(to right, #228B22, silver);
  color: black;
  --width: 100px;
  --height: calc(var(--width) / 1.5);
  /* width: var(--width); */
  /* width: 250px; */
  height: var(--height);
  text-align: center;
  line-height: var(--height);
  font-size: calc(var(--height) / 2.5);
  font-family: sans-serif;
  letter-spacing: 0.2em;
  border: 2px solid darkgoldenrod;
  border-radius: 2em;
  transform: perspective(500px) rotateY(-20deg);
  text-shadow: 6px 3px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 0 0 5px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  margin: 100px 0px -50px;
}

.push-image::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, transparent, white, transparent);
  right: 100%;
  transition: 0.5s;
}

.play-drums-button:hover {
  transform: perspective(500px) rotateY(15deg);
  text-shadow: -6px 3px 2px rgba(0, 0, 0, 0.2);
  box-shadow: -2px 0 0 5px rgba(0, 0, 0, 0.2);
}

.play-drums-button::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, transparent, white, transparent);
  left: -100%;
  transition: 0.5s;
}

.play-drums-button:hover::before {
  left: 100%;
}

/* introduction */

#introduction {
  padding: 3% auto;
}

.horizontal-di {
  background-image: url("images/Paper-Background.jpg");
  width: 100%;
  height: 5%;
  position: absolute;
  margin-top: -3%;
}

.paper {
    position: absolute;
    width: 90%;
    max-width: 59%;
    min-width: 30%;
    height: 3.3%;
    margin: 0 0 0 20%;
    background: #e4efe7;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,.3);
    overflow: hidden;
}

.paper:before {
    content: '';
    position: absolute;
    top: 0; bottom: 0; left: 0;
    width: 60px;
    background: radial-gradient(#575450 6px, transparent 7px) repeat-y;
    background-size: 30px 30px;
    border-right: 3px solid #D44147;
    box-sizing: border-box;
}

.paper-content {
    position: absolute;
    top: 30px; right: 0; bottom: 30px; left: 60px;
    background: linear-gradient(transparent, transparent 28px, #91D1D3 28px);
    background-size: 30px 30px;
}

.paper-content textarea {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    line-height: 30px;
    padding: 0 10px;
    border: 0;
    outline: 0;
    background: transparent;
    color: mediumblue;
    font-family: 'Handlee', cursive;
    font-weight: bold;
    font-size: 18px;
    box-sizing: border-box;
    z-index: 1;
}

/* Skills */

#Skills {
  padding: 20% 11% 3%;
  background: url("images/Skills-Background-Image.jpg") no-repeat center center fixed;
  background-size: cover;
}

.skills {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 70px);
    margin: 20px;
    color: #d8e3e7;
    font-size: 0.9rem;
    font-family: inherit;
    padding: 3% 8% 5% ;
  }

.sklLine{
    position: relative;
    bottom: 8px;
    visibility: hidden;
    padding-left: 6px;
    color: #228B22;
}
  .ProgWidth {
    padding: 0 20px;
  }
  .skillDiv {
    height: 0.7rem;
    width: 100%;
    background-color: #c8c2bc;
  }
  .skillBar {
    display: block;
    height: 100%;
    background-color: #228B22;
  }
  .p-skills {
    display: flex;
    justify-content: space-between;
  }

  .htmlBar {
    width: 70%;
    animation: html 3s 1s 5 forwards;
  }
  .cssBar {
    width: 70%;
    animation: css 3s 1s 5 forwards;
  }
  .jsBar {
    width: 75%;
    animation: js 3s 1s 5 forwards;
  }

  .BootStrapBar {
    width: 85%;
    animation: BootStrap 3s 1s 5 forwards;
  }
  .jQueryBar {
    width: 80%;
    animation: jQuery 3s 1s 5 forwards;
  }
  .SqlBar {
    width: 10%;
    animation: Sql 3s 1s 5 forwards;
  }
  .ConfluenceBar {
    width: 35%;
    animation: Confluence 3s 1s 5 forwards;
  }
  .JiraBar {
    width: 85%;
    animation: Jira 3s 1s 5 forwards;
  }

  @keyframes html {
    0% {
      width: 0%;
    }
    100% {
      width: 95%;
    }
  }
  @keyframes css {
    0% {
      width: 0%;
    }
    100% {
      width: 70%;
    }
  }
  @keyframes js {
    0% {
      width: 0%;
    }
    100% {
      width: 50%;
    }
  }
  @keyframes BootStrap {
    0% {
      width: 0%;
    }
    100% {
      width: 85%;
    }
  }
  @keyframes jQuery {
    0% {
      width: 0%;
    }
    100% {
      width: 50%;
    }
  }
  @keyframes Sql {
    0% {
      width: 0%;
    }
    100% {
      width: 85%;
    }
  }
  @keyframes Confluence {
    0% {
      width: 0%;
    }
    100% {
      width: 85%;
    }
  }

  @keyframes Jira {
    0% {
      width: 0%;
    }
    100% {
      width: 85%;
    }
  }

/* Short Courses Certificates */

#Short-Courses {
  padding: 2% 11% 10%;
  background: url("images/Short-Training-Background.png") no-repeat center center fixed;
  background-size: cover;
}

.testimonials {
  text-align: center;
  color: #fff;
  padding: 3% 11%;
  cursor: pointer;
}

.certificates-heading {
  color: #d8e3e7;
  font-size: 0.9rem;
  font-family: inherit;
}

#Work-Experience {
  background: url("images/Work-Experience-Background-Image.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.read-more-state {
  display: none;
}
.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}
.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 9999em;
}
.read-more-state ~ .read-more-trigger:before {
  content: 'Show more';
}
.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Show less';
}

/* Readmore Button */

.custom-btn {
  padding: 8px 15px;
  font-family: inherit;
  font-weight: 900;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  color: #d8e3e7;
}

.btn-12 {
  border: 4px solid #228B22;
  z-index: 1;
  margin: 10px 0 0 40px;
}
.btn-12:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: #228B22;
  transition: all 0.3s ease;
}
.btn-12:hover {
  color: #fff;
  border: 4px solid transparent;
}
.btn-12:hover:after {
  top: 0;
  height: 100%;
}
.btn-12:active {
  top: 2px;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#Certifications {
  background: url("images/Short-Training-Background.png") no-repeat center center fixed;
  background-size: cover;
}

.certificates {
  max-width: 90%;
  height: auto;
  padding: 8% 0 3%;
}

.job-description {
  text-align: left;
  color: #aaaaaa;
  font-size: 0.7rem;
  font-family: inherit;
  font-weight: 600;
}

.job-title {
  color: #d8e3e7;
  font-size: 1.1rem;
  font-family: inherit;
}

.carousel-item {
  padding: 3% 15%;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23228B22' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23228B22' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 40%;
  height: 40%;
}

@media (max-width: 950px) {
  .box {
    padding-top: 50px;
  }

  .carousel-item {
    padding-bottom: 50px;
  }

  .play-drums-button {
    --width: 50px;
    padding-bottom: 40px;
  }

  .push-image {
    margin-bottom: 0.5px;
  }

  .zouheir-image {
    visibility: hidden;
  }

  #testimonials {
    margin-bottom: 100px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 0.5rem;
  }

  .resume-heading {
    font-size: calc(2px + 3vh) !important;
    line-height: calc(2px + 5vh) !important;
  }

  .skills {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(2, 70px);
      margin: 20px;
      color: #d8e3e7;
      padding-left: 0;
    }

    #introduction {
      padding: 10% auto;
    }

  .paper {
      position: absolute;
      width: 100%;
      max-width: 90%;
      min-width: 30%;
      height: 2.5%;
      margin: 1% 4% 0;
      background: #fafafa;
      border-radius: 10px;
      box-shadow: 0 2px 8px rgba(0,0,0,.3);
      overflow: hidden;
  }

  .paper:before {
      content: '';
      position: absolute;
      top: 0; bottom: 0; left: 0;
      width: 30px;
      background: radial-gradient(#575450 4px, transparent 3px) repeat-y;
      background-size: 30px 30px;
      border-right: 3px solid #D44147;
      box-sizing: border-box;
  }

  .paper-content {
      position: absolute;
      top: 30px; right: 0; bottom: 30px; left: 30px;
      background: linear-gradient(transparent, transparent 28px, #91D1D3 28px);
      background-size: 30px 30px;
  }

  .paper-content textarea {
      width: 100%;
      max-width: 100%;
      height: 100%;
      max-height: 100%;
      line-height: 30px;
      padding: 0 10px;
      border: 0;
      outline: 0;
      background: transparent;
      color: mediumblue;
      font-family: 'Handlee', cursive;
      font-weight: bold;
      font-size: 10px;
      box-sizing: border-box;
      z-index: 1;
  }
}

@media (min-width: 1200px) {
  .timeline-image-small-screen {
    display: none;
  }
}

@media (max-width: 1200px) {
  .line {
    display: none;
  }

  .timeline-image {
    display: none;
  }

  .timeline-image-small-screen {
    display: block;
    color: #228B22;
    font-size: 0.9rem;
    font-family: inherit;
  }

  .horizontal-div {
    width: 100%;
    height: 2%;
  }
}

.timeline {
  position: relative;
  padding: 4px 0 0 0;
  margin-top: 40px;
  list-style: none;
}

.timeline>li:nth-child(even) {
  position: relative;
  margin-bottom: 50px;
  height: 350px;
  right: -5%;
}

.timeline>li:nth-child(odd) {
  position: relative;
  margin-bottom: 50px;
  height: 300px;
  left: -10%;
}

.timeline>li:before,
.timeline>li:after {
  content: " ";
  display: table;
}

.timeline>li:after {
  clear: both;
  min-height: 170px;
}

.timeline>li .timeline-panel {
  position: relative;
  float: left;
  width: 41%;
  padding: 0 20px 20px 30px;
  text-align: right;
}

.timeline>li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline>li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline>li .timeline-image {
  z-index: 100;
  position: absolute;
  left: 50%;
  background-color: #228B22;
  width: 200px;
  height: 100px;
  margin-left: -100px;
  border-radius: 40%;
}

.timeline>li .timeline-image h4 {
  margin-top: 12px;
  color: #228B22;
  font-size: 0.9rem;
  font-family: inherit;
  line-height: 14px;
}

.timeline>li.timeline-inverted>.timeline-panel {
  float: right;
  padding: 0 30px 20px 20px;
  text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline>li:last-child {
  margin-bottom: 0;
}

.timeline .timeline-heading {
  margin-top: 22px;
  margin-bottom: 4px;
  padding: 0;
  color: #d8e3e7;
  font-size: 0.9rem;
  font-family: inherit;
}

.job-location {
  color: #d8e3e7;
  font-size: 1rem;
  font-family: inherit;
  text-align: center;
  padding-top: 3%;
  margin-top: 5%;
}

.timeline .timeline-heading .subheading {
  margin: 0;
  padding: 0;
  text-transform: none;
  color: #d8e3e7;
  font-size: 0.9rem;
  font-family: inherit;
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
  margin-bottom: 0;
  color: #d8e3e7;
  font-size: 0.9rem;
  font-family: inherit;
}

/*Style for even div.line*/
.timeline>li:nth-child(odd) .line:before {
  content: "";
  position: absolute;
  top: 25%;
  bottom: 0;
  left: 55%;
  width: 10px;
  height: 110%;
  background-color: #228B22;
  -ms-transform: rotate(-25deg);
  -webkit-transform: rotate(-25deg);
  -moz-transform: rotate(-25deg);
  -o-transform: rotate(-25deg);
  transform: rotate(-25deg);
}

/*Style for odd div.line*/
.timeline>li:nth-child(even) .line:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40%;
  width: 10px;
  height: 120%;
  background-color: #228B22;
  -ms-transform: rotate(22deg);
  -webkit-transform: rotate(22deg);
  -moz-transform: rotate(22deg);
  -o-transform: rotate(22deg);
  transform: rotate(22deg);
}

/* Medium Devices, .visible-md-* */
@media (min-width: 992px) and (max-width: 1199px) {
  .timeline>li:nth-child(even) {
    margin-bottom: 0;
    min-height: 0;
    right: 0;
  }

  .timeline>li:nth-child(odd) {
    margin-bottom: 0;
    min-height: 0;
    left: 0;
  }

  .timeline>li:nth-child(even) .timeline-image {
    left: 0;
    margin-left: 0;
  }

  .timeline>li:nth-child(odd) .timeline-image {
    left: 690px;
    margin-left: 0;
  }

  .timeline>li:nth-child(even) .timeline-panel {
    width: 76%;
    padding: 0 0 20px 0;
    text-align: left;
  }

  .timeline>li:nth-child(odd) .timeline-panel {
    width: 70%;
    padding: 0 0 20px 0;
    text-align: right;
  }

  .timeline>li .line {
    display: none;
  }
}

/* Small Devices, Tablets */
@media (min-width: 768px) and (max-width: 991px) {
  .timeline>li:nth-child(even) {
    margin-bottom: 0;
    min-height: 0;
    right: 0;
  }

  .timeline>li:nth-child(odd) {
    margin-bottom: 0;
    min-height: 0;
    left: 0;
  }

  .timeline>li:nth-child(even) .timeline-image {
    left: 0;
    margin-left: 0;
  }

  .timeline>li:nth-child(odd) .timeline-image {
    left: 520px;
    margin-left: 0;
  }

  .timeline>li:nth-child(even) .timeline-panel {
    width: 700%;
    padding: 0 0 20px 0;
    text-align: left;
  }

  .timeline>li:nth-child(odd) .timeline-panel {
    width: 70%;
    padding: 0 0 20px 0;
    text-align: right;
  }

  .timeline>li .line {
    display: none;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 767px) {
  .timeline>li:nth-child(even) {
    margin-bottom: 0;
    min-height: 0;
    right: 0;
  }

  .timeline>li:nth-child(odd) {
    margin-bottom: 0;
    min-height: 0;
    left: 0;
  }

  .timeline>li .timeline-image {
    position: static;
    width: 150px;
    height: 150px;
    margin-bottom: 0;
  }

  .timeline>li:nth-child(even) .timeline-image {
    left: 0;
    margin-left: 0;
  }

  .timeline>li:nth-child(odd) .timeline-image {
    float: right;
    left: 0;
    margin-left: 0;
  }

  .timeline>li:nth-child(even) .timeline-panel {
    width: 100%;
    padding: 0 0 20px 14px;
  }

  .timeline>li:nth-child(odd) .timeline-panel {
    width: 100%;
    padding: 0 14px 20px 0;
  }

  .timeline>li .line {
    display: none;
  }
}
@media (max-width: 900px) {
  #Short-Courses {
    padding: 2% 11% 40%;
  }
}

#footer {
  position: absolute;
  width: 100%;
  bottom: 0%;
  text-align: center;
  left: 0%;
  font-size: 0.7rem;
  line-height: 0.2rem;
  color: gray;
}

.social-icon {
  margin: 20px 10px;
}

/* Contact Page  */

.get-in-touch {
  max-width: 800px;
  margin: 50px auto;
  position: relative;
  padding: 3% 1% 0 1%;
}

.get-in-touch .title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 3.2em;
  line-height: 48px;
  color: #228B22;
  background: #228B22;
  background: -moz-linear-gradient(left, #c04d00 0%, #228B22 100%) !important;
  background: -webkit-linear-gradient(left, #c04d00 0%, #228B22 100%) !important;
  background: linear-gradient(to right, #c04d00 0%, #228B22 100%) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.contact-form .form-field {
  position: relative;
  margin: 32px 0;
}

.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #ffe05d;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  background-color: transparent;
}

.contact-form .input-text:focus {
  outline: none;
}

.contact-form .input-text:focus+.label,
.contact-form .input-text.not-empty+.label {
  -webkit-transform: translateY(-24px);
  transform: translateY(-24px);
}

.contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #228B22;
  cursor: text;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out,
    -webkit-transform .2s ease-in-out;
}

.contact-form .submit-btn {
  display: inline-block;
  background-color: #000;
  background-image: linear-gradient(125deg, #228B22, #064497);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  width: 200px;
  cursor: pointer;
}

/* Drum File */
#drums-title {
  font-size: 4rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;
  margin: 50px auto;
}

.drums-buttons {
  text-align: center;
  padding: 50px 0;
}

.w {
  background-image: url("images/tom1.png");
}

.a {
  background-image: url("images/tom2.png");
}

.s {
  background-image: url("images/tom3.png");
}

.d {
  background-image: url("images/tom4.png");
}

.j {
  background-image: url("images/snare.png");
}

.k {
  background-image: url("images/crash.png");
}

.l {
  background-image: url("images/kick.png");
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 20px;
  background-color: white;
  transform: rotate(45deg);
}

.drum-letter {
  transform: rotate(-45deg);
}

/* Login Page  */
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #C0C0C0;
  padding: 30px;
  width: 90%;
  max-width: 350px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

#formFooter {
  background-color: #C0C0C0;
  border-top: 1px solid #C0C0C0;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

.h1-login {
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
  color: black;
}

.p-login {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

.span-login {
  font-size: 12px;
}

.a-login {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.button-login {
  border-radius: 20px;
  border: 1px solid;
  background-color: #f0a500;
  background: -webkit-linear-gradient(to right, #000, #f0a500);
  background: linear-gradient(to right, #000, #f0a500);
  color: #C0C0C0;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.button-login:active {
  transform: scale(0.95);
}

.button-login:focus {
  outline: none;
}

.button-login.ghost {
  background-color: transparent;
  border-color: #C0C0C0;
}

.form-login {
  background-color: #C0C0C0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.input-login {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.container {
  background-color: #C0C0C0;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  margin: 80px auto;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}


.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: black;
  background: -webkit-linear-gradient(to right, black, black);
  background: linear-gradient(to right, black, #228B22, #228B22, black);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #FFFFFF;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  border: 1px solid #DDDDDD;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes show {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%, 100% {
    opacity: 1;
    z-index: 5;
  }
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

.resume-heading-div {
  padding: 7% 11% 3% 3%;
}

.resume-heading {
  font-size: calc(10px + 8vh);
  line-height: calc(10px + 10vh);
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  font-family: "Sacramento", cursive;
  animation: blink 8s infinite;
  -webkit-animation: blink 8s infinite;
  text-align: left;
}

@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
/*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

.hello {
  opacity: 1 !important;
}


/* Short Training Certificates */

.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

#image-gallery .modal-footer{
  display: block;
}

.thumb {
  margin-top: 10px;
  margin-bottom: 10px;
}
