/* Body Html Common Elements */
html {
  scroll-behavior: smooth;
}

body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover, contain;
  height: 100%;
  position: relative;
  counter-reset: Heading;
}


.drums-page {
  background: url("images/Drums-Background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover, contain;
  height: 100%;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  color: #d8e3e7;
  font-size: 0.9rem;
  font-family: "Montserrat-Bold";
}

a {
  text-decoration: none !important;
}

.main-container {
  padding: 0;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  display: block;
}

/* NavBar Animation  */

.container-fluid {
  padding: 1% 5% 0 5%;
  position: relative;
}

/* Search Bar */

.form-control:focus {
  box-shadow: none;
  background-color: transparent;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

.form-control {
  background-color: transparent;
}

.search-bar {
  margin-left: 130px;
  padding-top: 15px;
  width: 200px;
}

.border-3 {
  border-width: 3px !important;
  border-color: rgba(0, 215, 72, 255) !important;
}

#button-addon3 {
  color: rgba(0, 215, 72, 255) !important;
}

/* NavBar Dropdown Menu */

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  margin-top: 0;
}

.navbar-nav .dropdown-menu {
  padding: 0;
  list-style-type: none;
  background: transparent;
  border: none;
  border-radius: 0;
}

.navbar-toggler {
  border-color: rgba(0, 215, 72, 255) !important;
  outline-color: rgba(0, 215, 72, 255) !important;
}

.navbar .navbar-toggler {
  z-index: 1000
}

@media (max-width: 991.98px) {
  .container-fluid {
    padding: 1% 5% 0% 5%;
    position: relative;
  }
  .search-bar {
    margin-left: 110px;
    width: 150px;
  }
  .p-logo-footer {
    margin-left: -2px !important;
  }
  .navbar .navbar-collapse {
    background: rgba(204,204,204, 0.9);
    top: 13vh;
    left: 0;
    right: 0;
    bottom: 0;
    transition: opacity 0.35s ease;
    display: flex;
    flex-direction: column;
    align-content: right;
    text-align: right !important;
  }
  .navbar .navbar-collapse.collapse {
    display: none;
    opacity: 0;
    pointer-events: auto;
  }

  .navbar .navbar-collapse.collapsing[style*="height"] {
    left: -75%;
    transition: height 0s ease;
    opacity: 1;
    height: 100vh !important;
  }
  .navbar .navbar-collapse.collapsing {
    opacity: 0;
    height: 100vh
  }
  .navbar .navbar-collapse.collapse.show {
    left: 0;
    transition: left 400ms ease-in-out;
    opacity: 1;
    pointer-events: auto;
    position: fixed;
    display: flex;
  }
  .navbar-toggler.collapsed ~ .navbar-collapse {
    transition: left 500ms ease-in-out;
  }
  .navbar .navbar-collapse .navbar-nav {
    margin-right: initial !important;
    margin-bottom: auto;
  }
  .projects-div {
    margin-left: 15%;
  }
}

@media (max-width: 991.98px) {
  .navbar-nav {
    margin-left: -60px !important;
  }
  .dropdown-screen {
    display: none;
  }
  .dropdown-mobile {
    display: block;
  }
  .menu-nav {
    background-color: rgba(51, 59, 80, 255);
    position: fixed;
    width: 100%;
    z-index: 999;
    height: 13%;
  }
  /* .floatingNav {
    box-shadow: 0px 1px 10px rgba(51, 59, 80, 255);
  } */
  .nav-logo {
    padding-top: 10px;
  }
  .nav-item span, .dropdown-button span {
    background-color: rgba(51, 59, 80, 255) !important;
    width: 7rem;
  }
}

.dropdown-list {
  margin-top: 5px !important;
}

.nav-item, .dropdown-button {
  font-size: 1rem;
  font-weight: 500;
  width: 6.5rem;
  height: 1.5em;
  color: rgba(0, 215, 72, 255);
  position: relative;
  margin-top: 0.8em;
  cursor: pointer;
  padding-right: 15px;
}

.nav-item {
width: 4.5rem
}

.nav-item span, .dropdown-button span {
  position: relative;
  height: 120%;
  top: -10%;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat-Bold";
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
  transform: translateX(calc(0.15em * 3 - 0.08em * 2));
  transition: 0.3s;
}

.nav-fonts {
  color: rgba(0, 215, 72, 255);
}

.nav-item:hover span, .dropdown-button:hover span {
  transform: translateX(0.15em);
}

.dropdown-toggle {
  color: rgba(0, 215, 72, 255);
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}

.navbar-brand {
  font-family: "Montserrat-Bold";
  text-align: center;
  font-size: 1.5rem;
  color: white;
}

.z-logo {
  width: 130%;
  height: 20%;
}

.p-logo {
  font-size: 40px;
  color: rgba(0, 215, 72, 255);
  font-weight: 600;
  position: absolute;
  z-index: 0;
  margin: 10px 0 0 10px;
  font-family: Sacramento;
}

.moon-logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 5px 5px 0 0 rgba(0, 215, 72, 255);
  cursor: pointer;
  margin-top: -10px;
}

@media (min-width: 991.98px) {
  .menu-nav {
    position: fixed;
    height: 130px;
    width: 100%;
    z-index: 999;
  }
  .menu-nav::before {
    opacity: 0.7;
    border-radius: 100%;
    position: absolute;
    background-color: rgba(51, 59, 80, 255);
    right: -200px;
    left: -200px;
    top: -30px;
    content: '';
    bottom: 20px;
  }
  .floatingNav::before {
    box-shadow: 5px 1px 10px rgba(51, 59, 80, 255);
    border-radius: 100%;
    background-color: rgba(51, 59, 80, 255);
    right: -200px;
    left: -200px;
    top: -50px;
    content: '';
    bottom: 35px;
    opacity: 0.3;
  }
  .dropdown-mobile {
    display: none;
  }
}

.spacer {
  width: 100%;
  height: 20vh;
  background-color: rgb(83, 91, 103);
}

/* Welcome PAge */
.row {
  padding: 3% 11%;
}

.welcome-page {
  padding: 3% 3%;
}

#below-navbar {
  background: url("images/Work-Experience-Background-Image.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.zouheir-img {
  position: absolute;
  margin: 7% 0 0 50%;
  border-radius: 50%;
}

.introducing {
  padding: 5% 0 10% 10%;
}

.introducing-myself {
  font-size: 85px;
  text-align: left;
  font-family: Sacramento;
  color: #d8e3e7;
  font-weight: bold;
}

.introducing-symbol {
  font-size: 75px;
  font-weight: bold;
  color: rgba(0, 215, 72, 255);
}

.occupation {
  font-size: 34px;
  font-weight: 400;
  text-align: left;
  line-height: 1.8em;
  letter-spacing: 0.18em;
  color: #d8e3e7;
}

/* Resume Summary */

#skills-introduction {
  background: url("images/Skills-Background-Image.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.introduction {
  background: url("images/Introduction-background-image.png") no-repeat;
  background-size: 100% 50%;
  padding-top: 20px;
}

.summary-div {
  padding: 50vh 0px;
  margin: 0.1% 20% 5% 20%;
  background-color: rgba(51, 59, 80, 255);
  box-shadow: 0 0 10px rgb(20, 25, 30);
  -moz-box-shadow: 0 0 10px rgb(20, 25, 30);
  -webkit-box-shadow: 0 0 10px rgb(20, 25, 30);
  -o-box-shadow: 0 0 10px rgb(20, 25, 30);
  border-radius: 10px;
  position: relative;
}

.summary-div:hover {
  border-radius: 0% 0% 50% 50% / 0% 0% 5% 5%;
  /* box-shadow: 10px 10px 10px 20px rgba(0, 0, 0, .25); */
  box-shadow: 0 0 10px rgba(0, 0, 0, .25);
}

.summary-logo-div {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.summary-p {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.summary-text {
  padding-top: 10%;
  text-align: center;
  line-height: 2em;
  color: #d8e3e7;
  font-size: 1.5vw;
  font-weight: 500;
  font-family: 'Open Sans', sans-serif;
}

.summary-download-button-pdf {
  position: absolute;
  top: 85%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.summary-download-button-word {
  position: absolute;
  top: 85%;
  left: 70%;
  transform: translate(-50%, -50%);
}

.download-button {
  display: inline-block;
  width: 20vw;
  color: #fff;
  text-decoration: none !important;
  padding: 2% 3%;
  border-radius: 55px;
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  font-size: 1.5vw;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
  text-align: center;
  background-color: transparent;
  border: 2px solid rgba(0, 207, 68, 255);
}

.download-button:hover {
  color: white;
  width: 20vw;
  display: inline-block;
  font-weight: 600;
  background: rgba(0, 207, 68, 255);
  box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(0px, -10px) scale(1.0);
  transform: translate(0px, -10px) scale(1.0);
}

.download-resume-icon-pdf {
  width: 2.5vw;
  height: 5vh;
}

.download-resume-icon-word {
  width: 2.5vw;
  height: 5vh;
}

/* Home Page Heading */

@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

.resume-heading-div {
  padding: 7% 0% 3% 15%;
}

.resume-heading {
  font-size: calc(10px + 8vh);
  line-height: calc(10px + 10vh);
  text-shadow: 0 0 5px rgba(0, 215, 72, 255), 0 0 15px rgba(0, 215, 72, 255), 0 0 20px rgba(0, 215, 72, 255), 0 0 40px rgba(0, 215, 72, 255), 0 0 60px #ff0000, 0 0 10px rgba(0, 215, 72, 255), 0 0 98px #ff0000;
  color: #fff6a9;
  font-family: "Sacramento", cursive;
  animation: blink 8s infinite;
  -webkit-animation: blink 8s infinite;
  text-align: left;
  counter-reset: sub-Heading;
}

.resume-heading:before {
  counter-increment: Heading;
  content: counter(Heading) ". ";
}

@-webkit-keyframes blink {

  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px rgba(0, 215, 72, 255), 0 0 15px rgba(0, 215, 72, 255), 0 0 20px rgba(0, 215, 72, 255), 0 0 40px rgba(0, 215, 72, 255), 0 0 60px #ff0000, 0 0 10px rgba(0, 215, 72, 255), 0 0 98px #ff0000;
    color: rgba(0, 215, 72, 255);
  }
}

@keyframes blink {

  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px rgba(0, 215, 72, 255), 0 0 15px rgba(0, 215, 72, 255), 0 0 20px rgba(0, 215, 72, 255), 0 0 40px rgba(0, 215, 72, 255), 0 0 60px #ff0000, 0 0 10px rgba(0, 215, 72, 255), 0 0 98px #ff0000;
    color: #fff;
  }
}

/* Skills */

.skills {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 70px);
  color: #d8e3e7;
  font-size: 1.1rem;
  font-family: "Montserrat-Bold";
  padding: 5% 16% 10%;
}

.sklLine {
  position: relative;
  bottom: 8px;
  visibility: hidden;
  padding-left: 6px;
  color: rgba(0, 215, 72, 255);
}

.ProgWidth {
  padding: 0 20px;
}

.skillDiv {
  height: 0.7rem;
  width: 100%;
  background-color: #c8c2bc;
}

.skillBar {
  display: block;
  height: 100%;
  background-color: rgba(0, 215, 72, 255);
}

.p-skills {
  display: flex;
  justify-content: space-between;
}

.htmlBar {
  width: 70%;
  animation: html 3s 1s 5 forwards;
}

.cssBar {
  width: 70%;
  animation: css 3s 1s 5 forwards;
}

.jsBar {
  width: 75%;
  animation: js 3s 1s 5 forwards;
}

.BootStrapBar {
  width: 85%;
  animation: BootStrap 3s 1s 5 forwards;
}

.jQueryBar {
  width: 80%;
  animation: jQuery 3s 1s 5 forwards;
}

.SqlBar {
  width: 10%;
  animation: Sql 3s 1s 5 forwards;
}

.ConfluenceBar {
  width: 35%;
  animation: Confluence 3s 1s 5 forwards;
}

.JiraBar {
  width: 85%;
  animation: Jira 3s 1s 5 forwards;
}

@keyframes html {
  0% {
    width: 0%;
  }

  100% {
    width: 95%;
  }
}

@keyframes css {
  0% {
    width: 0%;
  }

  100% {
    width: 70%;
  }
}

@keyframes js {
  0% {
    width: 0%;
  }

  100% {
    width: 50%;
  }
}

@keyframes BootStrap {
  0% {
    width: 0%;
  }

  100% {
    width: 85%;
  }
}

@keyframes jQuery {
  0% {
    width: 0%;
  }

  100% {
    width: 50%;
  }
}

@keyframes Sql {
  0% {
    width: 0%;
  }

  100% {
    width: 85%;
  }
}

@keyframes Confluence {
  0% {
    width: 0%;
  }

  100% {
    width: 85%;
  }
}

@keyframes Jira {
  0% {
    width: 0%;
  }

  100% {
    width: 85%;
  }
}

/* Projects Section  */

#Projects {
  /* background: url("images/Projects-Background-Image.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  /* margin-top: -20px; */
  /* padding-top: 5%;
  background-color: rgba(51, 59, 80, 255); */
}

.resume-heading-projects {
  padding-left: 13%;
  margin-bottom: -5%;
}

.projects-div {
  width: 75%;
}

.projects {
  overflow: hidden;
  position: relative;
  padding-bottom: 60%;
  cursor: pointer;
}


.hover-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  transition: all 0.4s;
}

.projects img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s;
}

.hover-content {
  position: relative;
  z-index: 99;
}

/* DEMO 5 ============================== */
.projects-hover::after {
  content: '';
  width: 100%;
  height: 10px;
  background: rgba(0, 215, 72, 255);
  position: absolute;
  bottom: -10px;
  left: 0;
  display: block;
  transition: all 0.3s;
  z-index: 888;
}

.projects-hover .hover-overlay {
  background: rgba(0, 0, 0, 0.4);
}

.hover-title {
  position: absolute;
  bottom: 0.1rem;
  left: 0;
  width: 100%;
  transition: all 0.3s;
  padding: 0.8rem 1rem;
  z-index: 99;
  line-height: 1.1rem;
  opacity: 3;
  text-align: center;
}

.learn-more span {
  transition: all 0.4s;
  opacity: 0;
  color: #fff;
  text-align: center;
  width: 140px;
  height: 40px;
  position: absolute;
  background-color: rgba(0, 215, 72, 255);
  border: 3px solid rgba(0, 215, 72, 255);
  border-radius: 10px;
  font-family: "Montserrat-Bold";
  font-weight: 600;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.learn-more span:hover {
  color: #fff;
  background-color: transparent;
  text-decoration: none;
  text-align: center;
  width: 140px;
  height: 40px;
  transition: all 0.4s;
  font-family: "Montserrat-Bold";
}

.projects-hover:hover .hover-overlay {
  background: rgba(0, 0, 0, 0.8);
}

.projects-hover:hover .hover-title {
  bottom: 0;
}

.projects-hover:hover .learn-more span {
  opacity: 1;
}

.projects-hover:hover::after {
  bottom: 0;
}

/* Work Experience */

#Work-Experience-background {
  background: url("images/Work-Experience-Background-Image.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.Work-Experience-overlaying {
  background: rgba(48, 74, 99, 0.7);
  overflow: hidden;
  height: 100%;
  z-index: 2;
}

.work-experience-details-color {
  color: rgba(0, 215, 72, 255);
}

.work-experience {
  padding: 0 0 3%;
  margin: 0 5%;
}

/* work experience */

.fadeInDownWork {
  opacity: 0;
  transform: translate(0, -50vh);
  transition: all 3s;
}

.fadeInDownWork.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: none;
  font-size: 0;
  transition: .25s ease;
}

.read-more-state:checked~.read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 9999em;
}

.read-more-state~.read-more-trigger:before {
  content: 'Show more';
}

.read-more-state:checked~.read-more-trigger:before {
  content: 'Show less';
}

/* Readmore Button */

.custom-btn {
  padding: 8px 15px;
  font-family: inherit;
  font-weight: 900;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  color: #fff;
}

.btn-12 {
  border: 4px solid rgba(0, 215, 72, 255);
  z-index: 1;
  margin: 10px 0 0 0;
}

.btn-12:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: rgba(0, 215, 72, 255);
  transition: all 0.3s ease;
}

.btn-12:hover {
  color: #fff;
  border: 4px solid transparent;
}

.btn-12:hover:after {
  top: 0;
  height: 100%;
}

.btn-12:active {
  top: 2px;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Education */

.testimonials {
  text-align: center;
  color: #fff;
  padding: 0% 11% 3%;
  cursor: pointer;
}

.certificates-heading {
  color: #d8e3e7;
  font-size: 1.2rem;
  font-family: "Montserrat-Bold";
}

#Education {
  background: url("images/Short-Training-Background.png") no-repeat center center;
  background-size: cover;
}

.certificates {
  max-width: 60%;
  height: auto;
  padding: 8% 0 3%;
}

.carousel-item {
  padding: 3% 15%;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23228B22' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23228B22' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 40%;
  height: 40%;
}

.job-title {
  color: #fff;
  font-size: 1.1rem;
  font-family: "Montserrat-Bold";
}

@media only screen and (max-width: 767px) {
  #Skills {
    padding-top: 20%;
  }
  .projects-div {
    margin-left: 13%;
  }
}


/* Short Training Certificates */

#Courses {

  /* background: url("images/Short-Training-Background.png") no-repeat center center;
  background-size: cover; */
  padding-bottom: 15%;
}

.courses {
  padding: 0 15% 0 20%;
}

.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

#image-gallery .modal-footer {
  display: block;
}

.thumb {
  margin-top: 10px;
  margin-bottom: 10px;
}

.logo-footer {
  position: absolute;
  z-index: 1;
  left: 15%;
  bottom: 8vh;
}

@media (max-width: 950px) {
  .summary-box {
    padding-top: 50px;
  }

  .footer-copyright {
    height: 20vh;
  }

  .logo-footer {
    position: absolute;
    z-index: 1;
    left: 42vw;
    bottom: 1vh;
  }

  .download-resume-icon-pdf {
    width: 3vw;
    height: 15px;
  }

  .download-resume-icon-word {
    width: 2.5vw;
    height: 20px;
  }

  .courses {
    padding: 2% 10% 30% 25%;
  }

  .moon-logo, .p-logo {
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .Blazing {
    font-size: 1.8rem;
  }

  .carousel-item {
    padding-bottom: 50px;
  }

  .welcome-page {
    padding-top: 20%;
  }
  .zouheir-img {
    display: none;
  }

  #testimonials {
    margin-bottom: 100px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 0.5rem;
  }

  .resume-heading {
    font-size: calc(2px + 3vh) !important;
    line-height: calc(2px + 5vh) !important;
  }

  .skills {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 70px);
    margin: 0 0 -1px 25px;
    color: #d8e3e7;
    padding-left: 0;
  }
}

@media (max-width: 1200px) {

  .download-button {
    padding: 2% 1%;
    font-size: 0.7rem;
  }

  .summary-logo-div {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .summary-p {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .summary-download-button-pdf {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .summary-download-button-word {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .download-resume-icon {
    height: 2.5vh;
    width: 4vw;
  }

  .p-logo {
    margin: 15px 0 0 15px;
  }

  .download-button {
    width: 120%;
    height: 50%;
  }

  .download-button:hover {
    width: 25vw;
  }
}
