html {
  min-height: 100%;
  position: relative;
}

body {
  background-image: url("https://png.pngtree.com/thumb_back/fh260/back_pic/03/80/06/3757c30a762387b.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
  text-align: center;
}

.container{
  color: white;
}

.big-heading {
  font-size: 50px;
}

.form-group {
  width: 480px;
}

.play-drums-button {
  margin: 0;
  position: absolute;
  top: 300%;
  left: 60%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.btn-primary {
  padding: 0.8px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6rem;
  text-align: center;
  color: grey;
}

.home-font {
  color: white;
}

.login-home {
  color: white;
  text-align: left;
  padding: 100px 50px;
}

.topnav {
  overflow: hidden;
  color: white;
}

.topnav a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px bold;
  margin: 10px 10px;
}

.topnav a:hover {
  color: gray !important;
  color: white;
}

.topnav a.active {
  color: white;
}
.container-fluid{
  padding: 0;
}
.social-icon {
  margin: 20px 10px;
}

.panel-default {
opacity: 0.9;
margin-top:30px;
}
.form-group.last { margin-bottom:0px; }

.about-page h2 {
  color: red;
}

.contact-page h2 {
  color: red;
}

/* Drum File */

#title {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;

}

.w {
  background-image: url("images/tom1.png");
}

.a {
  background-image: url("images/tom2.png");
}

.s {
  background-image: url("images/tom3.png");
}

.d {
  background-image: url("images/tom4.png");
}

.j {
  background-image: url("images/snare.png");
}

.k {
  background-image: url("images/crash.png");
}

.l {
  background-image: url("images/kick.png");
}

.set {
  margin: 8% auto;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}